body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header start */
header{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 6;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.logo img{
    width: 150px;
    height: auto;
    padding: 15px;
}
.nav ul{
    display: flex;
    list-style-type: none;
    margin-top: 23px;
    
    
}
.nav ul li{
    position: relative;
    padding: 10px;
    padding-left: 20px;
    ul{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        margin-top: 22px;
        margin-left: -110px;
        

        
        li{ 
            width: 100px;
            transition: all 0.5s ease-in-out;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            ul{
                margin-left: 70px;
                margin-top: -32px;
            }
            ul li{
                opacity: 0;
                visibility: hidden;
                
                
            } 
        }
    }
}
.nav_icon{
    display: none;
    font-size: 24px;
    margin-top: 25px;
    cursor: pointer;
}
.wbg{
    background: #FFFFFF
}

.nav ul li a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 12px;
    font-weight: bold;
    &:hover{
        color:#9DA6FF;
    }
}
.nav ul li ul li:hover ul li{
    opacity: 1;
    visibility: visible;
    background: white;
}
.nav ul li:hover ul{
    opacity: 1;
    visibility: visible; 
}
/* Header End */
.section_1{
    background-color: #F9F9FF;
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform:uppercase;
    line-height: 1.2em;
    font-family:"Poppins", sans-serif;

    .theme_text, .theme_img{
        width:40%;
        max-width: 100%;
        height: auto; 
        margin-bottom: -150px;
    }
    .theme_img{
        position: relative;
        left: 40px;
    }
    .theme_text{
        position: relative;
        top: -70px;
    }
    h1{
        font-size: 60px;
        color: rgb(49, 48, 48);
    }
}
.about_h1{
    font-size: 30px;
}

p{
    font-size: 14px;
    text-transform: none;
    color: gray;
    filter: opacity(0.7);
    font-family: "Poppins", sans-serif;
}
h6{font-weight: 400;
    letter-spacing: 2px;
    color: #222222;
    font-size:16px;
}
button{
    margin: 20px, 0px;
    width: 160px;
    height: 40px;
    background:-webkit-repeating-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    border: none;  
    font-weight: bold;
    color: white;
    transition: all 0.5s ease-in-out;
    a{text-decoration: none;
        color: white;}
    &:hover{
        transform: scale(1.01);
        font-size: 15px;
        box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
        z-index: 5;
    }

}
.section_2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 100px;
    height: 700px;
    width: 100%;
    text-transform:uppercase;
    font-family:"Poppins", sans-serif;
    line-height: 1.5em;
    margin-bottom: -100px;
    .about_text{
        width: 450px;
        position: relative;
        top: -50px;  
    }
}
.section_3{
    position: relative;
    margin-left: 170px;
    margin-right: 170px;
    .s3_title{
        text-align: center;
        h1{
            font-size: 36px;
            line-height:0;
        }
        p{
            width:690px;
            margin: 0 auto;
        }
   
    }
    .services{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
        row-gap: 80px;
        column-gap: 50px;
        .service{
            text-align: center;
            width: 330px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            a{
                text-decoration: none;
                color:#333;
                transition: all 0.1s ease;
                &:hover{
                    color:#4582EC
                }
            }
            h3{
                font-size: 18px;
            }
            i{
                transform: scale(2);
                opacity: 70%;
                padding-bottom:20px;
            }
            p{
                margin-top: -20px;
                font-size: 14px;
            }
           

        }
    }
}
.section_4{
    height: 300px;
    width: 100%;
    background:-webkit-repeating-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    div{
        text-align: center;
        color: #FFF;
        h1{
            font-size: 40px;
            line-height: 0;
        }
        p{
            color: #fff;
            font-size: 16px;
            filter: opacity(0.9)
        }
    }

}
.section_5{
    text-align: center;
    .head5{
        margin-bottom: 30px;
        h1{
            font-size: 40px;
            line-height: 0;
        }
    }
    .cat{
        margin-bottom: 30px;
        ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            li{
                padding: 25px;
                &:hover{
                    color:#4582EC;
                    cursor: pointer;
                }
            }
        }
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .item{
            position: relative;
            width: 370px;
            height: auto;
            margin-bottom: 20px;
            p{
                line-height: 0;
            
            }
            h2{
                font-size: 19px;
                line-height: 1.1em;
            }
            .imgg{
                width: 340px;
                height: 339px;
                background: -webkit-repeating-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
                border-radius: 10px;
               
            }
            &:hover img{
                opacity: 0.2;
                transition: all 0.5s ease;
            }
            }
           
    }
}
.section_6{
    text-align: center;
    height:700px;
    width: auto;
    margin: 150px 160px;
    .head6{
        margin-bottom: 80px;
        h1{
            font-size: 40px;
            line-height: 0;
        }
    }
    .prices{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .price{
            padding: 0px 27px;
            background-color: #F9F9FF;
            margin: 20px 0;
            transition: all 0.5s ease-in-out;

            h1{
                width: 80px;
                height: 80px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: "YourVarFont", sans-serif;
                font-size: 37px;
                font-weight: 100;
                border: 30px solid #dfdff8;
                border-radius: 80px;
                margin-bottom: 0;
                transition: all 0.5s ease-in-out;
            }
            h2{
                font-size: 18px;
                line-height: 1.1em;
            }
            hr{
                opacity: 0.2;
            }
            input{
                border: none;
                background-color: #F9F9FF;
                font-size: 34px;
                font-weight: bold;
                margin: 20px;
                width: 200px;
                height: 50px;
            }
            button{
                transform: scale(1.3);
                margin-bottom: 30px;
                border: 2px solid #dfdff8;
                border-radius: 10px;

            }

            &:hover{
                background: -webkit-repeating-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
                transform: scale(1.05);
                transform-origin: center;
                z-index: 3;
                
            }
            &:hover h1, &:hover h2, &:hover hr, &:hover p{
                color: #fff;
            }
            &:hover h1{
                border: 30px solid #A1BBFE;
            }
            &:hover input{
                background-color: #fff;
                border-radius:30px;
            }
        }
    }
}
    footer{
        display: grid;
        grid-template-columns: 4fr 4fr 1fr;
        bottom: 0;
        padding: 0px 170px;
        height: 300px;
        color: white;
        background: black;
        justify-content: center;
        align-items: center;
        
        .footer_about{
            width: 440px;
        }
        .newsletter{
            .email{
                margin-top: 20px;
                display: flex;
                input{
                    width: 380px;
                    height: 40px;
                    border-radius: 4px 0 0 4px;
                    border: none;
                    padding-left: 15px;
                    font-size: 14px;
                    outline: none;
                }
                button{
                    width: 50px;
                    height: 43px;
                    border-radius: 0 20px 20px 0;
                    border: none;
                    background-color: #62bdfc;
                    color: white;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
        .follow{
            position: relative;
            top: -20px;
            div ul{
                display: flex;
                justify-content: center;
                list-style: none;
                top: 80px;
                gap: 15px;
                position: absolute;
                left: -40px;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color:#62bdfc;
                        cursor: pointer;
                    }
                }
            }
        }

    }